.l-download-container {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 1241px;
    height: 707px;

    margin: 10.6rem auto 278px;
}

.download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background-color: #FFFFFF;
}

.download-header {
    width: 100%;
    height: 57px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 87px;

    background: #E4E8F1;
    border-bottom: 1px solid #D8D7D7;
}

.download-header-btn.is-active {
    border-bottom: 3px solid #092F63;
}

.download-header span {
    font-weight: 400;
    font-size: 24px;

    color: #092F63;
}

.download-btn-close {
    position: absolute;

    top: 13px;
    right: 26px;
}

.download-work {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-flex: 1;

    -ms-flex-positive: 1;

    flex-grow: 1;
}

.download-work-btn {
    display: none;

    padding-top: 191px;
    -ms-flex-item-align: start;
    align-self: flex-start;

    font-weight: 400;
    font-size: 32px;

    color: #092F63;
}

.download-work-btn.is-active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.download-footer {
    width: 100%;
    height: auto;

    padding: 20px 104px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    border-top: 1px solid #D8D7D7;
}

.download-footer-main-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;

}

.download-photo{
    width: 171px;
    height: 51px;

    background: #FBFBFB;
    border: 3px solid #092F63;
    border-radius: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #092F63;
}

.add-photo{
    width: 214px;
    height: 51px;

    background: rgba(9, 47, 99, 0.5);
    border-radius: 10px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}

.add-photo.is-active{
    background: #092F63;

    color: rgb(255, 255, 255);
}

.download-footer-tools-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 54px;

    font-weight: 300;
    font-size: 16px;

    color: rgba(9, 47, 99, 0.5);
}

.download-footer-tools-btns button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
}

.download-footer-tools-btns span {
    max-width: 129px;
    text-align: left;
}

.download-work-photos {
    display: none;
    width: 100%;
    height: auto;

    padding: 62px 92px 0 92px;
    overflow-y: auto;
}

.download-work-photos {
    display: none;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

}

.download-work-photos.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.download-work-photos .photo{
    width: 129px;
    height: 99px;

    margin: 11px 11px;

    border-radius: 20px;

    overflow: hidden;

    cursor: pointer;
}

.download-work-photos .photo.is-selected {
    border: 4px solid #092F63;
}

.photo img{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;
}

.tools-btns-mobile {
    display: none;
}

.download-work-btn span:last-child {
    display: none;
}

.download-photo span:last-child {
    display: none;

    font-weight: 400;
    font-size: 12px;
}








