@import "reset.css";
@import "header.css";
@import "under-header.css";
@import "workspace.css";
@import "size.css";
@import "footer.css";
@import "download.css";
@import "ordering.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

html{
    min-width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}

body {
    min-width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}

a {
    color: black;
}

blockquote {
    font-weight: 300;
    font-size: 24px;
}


#header {
    padding-top: 72px;
}

#workspace {
    height: 100%;
    border-top: 1px solid #D8D7D7;

    flex-grow: 1;

    background-color: #FBFBFB;
}

#under-header {
    min-height: 51px;

    border-top: 1px solid #D8D7D7;
}

#under-header button {
    color: #092F63;
}

#size-window {
    display: none;

    position: absolute;
    top: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    overflow-y: auto;
}

#download-window {
    display: none;

    position: absolute;
    top: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    overflow-y: auto;
}


#wrapper {
    height: 100%;
    flex-direction: column;
}

#footer {

}

.l-main-container {
    max-width: 1440px;

    margin-right: auto;
    margin-left: auto;
}

div[class*="l-"] {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

div[class*="m-"] {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.is-froze {
    background: rgba(9, 47, 99, 0.5) !important;
    color: rgba(255, 255, 255, 0.5) !important;

    border: none !important;
}


