@import "main.css";


@media (min-width:300px) and (max-width: 374px) {

    /*-------------MAIN-------------*/
    body {
        /*min-height: 100vh;*/
    }

    .wrapper {
        /*min-height: 100vh;*/
    }

    #header {
        padding-top: 19px;
    }

    #sidebar {
        display: none;
    }

    #footer {
        /*display: flex;*/
    }

    /*-------------WORKSPACE-------------*/
    .workspace {
        padding-top: 0;
    }

    .workspace-buttons {
        display: none;
    }

    /*-------------HEADER-------------*/
    .header {
        padding: 0 24px 14px 24px;
    }

    .header-burger {
        display: block;
    }

    .header blockquote, .header-button-hints {
        display: none;
    }

    .header-mobile {
        display: flex !important;
    }

    .logo svg {
        width: 117px;
        height: 40px;
    }

    .header-mobile span {
        font-size: 13px;
    }

    .header-button-order {
        width: 92px;
        height: 40px;

        border-radius: 10px;
    }

    .header-button-order {
        font-weight: 400;
        font-size: 12px;
    }

    /*-------------SIZE WINDOW-------------*/
    .l-size-container {
        width: 273px;
        height: 394px;

        margin: 8rem auto 278px;
    }

    .size-button-exit svg {
        width: 15px;
        height: 26px;
    }

    .size-title {
        padding-top: 33px;

        font-weight: 300;
        font-size: 22px;
    }

    .size-buttons {
        padding-top: 39px;

        gap: 22px 31px;
    }

    .size-buttons button {
        width: 104px;
        height: 32px;
    }

    .size-buttons button {
        font-weight: 400;
        font-size: 14px;
    }

    .size-button-choice {
        padding-top: 46px;
    }

    .size-button-choice button {
        width: 152px;
        height: 39px;
    }

    .size-button-choice button {
        font-weight: 400;
        font-size: 16px;
    }

}

@media (min-width:375px) and (max-width: 960px) {

    /*-------------MAIN-------------*/
    .wrapper {
        /*height: 100vh;*/
    }

    #header {
        padding-top: 19px;
    }

    #sidebar {
        display: none;
    }

    #footer {
        /*display: flex;*/
    }

    /*-------------WORKSPACE-------------*/
    .workspace {
        padding-top: 0;
    }

    .workspace-buttons {
        display: none;
    }

    /*-------------HEADER-------------*/
    .header {
        padding: 0 24px 14px 24px;
    }

    .header-burger {
        display: block;
    }

    .header blockquote, .header-button-hints {
        display: none;
    }

    .header-mobile {
        display: flex !important;
    }

    .logo svg {
        width: 117px;
        height: 40px;
    }

    .header-button-order {
        width: 92px;
        height: 40px;

        border-radius: 10px;
    }

    .header-button-order {
        font-weight: 400;
        font-size: 12px;
    }

    /*-------------SIZE WINDOW-------------*/
    .l-size-container {
        width: 327px;
        height: 394px;

        margin: 8rem auto 278px;
    }

    .size-button-exit svg {
        width: 15px;
        height: 26px;
    }

    .size-title {
        padding-top: 33px;

        font-weight: 300;
        font-size: 24px;
    }

    .size-buttons {
        padding-top: 39px;

        gap: 22px 31px;
    }

    .size-buttons button {
        width: 104px;
        height: 32px;
    }

    .size-buttons button {
        font-weight: 400;
        font-size: 14px;
    }

    .size-button-choice {
        padding-top: 46px;
    }

    .size-button-choice button {
        width: 152px;
        height: 39px;
    }

    .size-button-choice button {
        font-weight: 400;
        font-size: 16px;
    }
}

/*@media (min-width: 770px) and (max-width: 1050px) {*/
/*    blockquote {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

@media (min-width: 961px) {

    /*-------------HEADER-------------*/
    .header-burger {
        display: none;
    }

    .header-mobile {
        display: none;
    }

    /*-------------WORKSPACE-------------*/
    .workspace-button-mobile {
        display: none;
    }

    /*-------------FOOTER-------------*/
    #footer {
        display: none;
    }

}


@media (min-width: 1200px){


}

@media (min-width: 1400px){


}

