.sidebar {
    position: relative;
    height: 100%;

    padding-top: 11px;
    padding-bottom: 11px;

    justify-content: center;
}

.sidebar-button {
    font-weight: 400;
    font-size: 24px;

    color: #092F63;
}

.sidebar-button.is-inactive {
    display: none;
}

.sidebar-size-buttons {
    display: none;

    position: absolute;
    top: -2px;

    justify-content: center;
    gap: 31px;
}

.sidebar-size-buttons  button{
    position: relative;
}

.sidebar-size-buttons.is-active {
    display: flex!important;
}

.sidebar-size-buttons.is-active button{
    width: 132px;
    height: 55px;

    background-color: #FFFFFF;
    border: 1.5px solid #092F63;
    border-radius: 10px;
}

.sidebar-size-buttons.is-active button.is-active{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F4F6FB;
}

.sidebar-size-buttons.is-active .another{
    width: 274px;
    height: 55px;

    background: #FFFFFF;
}

.sidebar-size-buttons .is-inactive {
    display: none;
}

.js-size a{
    position: absolute;

    top: 0px;
    right: 9.5px;
}