.l-size-container {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 650px;
    height: 584px;

    margin: 10.6rem auto 278px;
}

.size {
    background-color: #FFFFFF;
    padding: 20px 20px;
}

.size-btn-exit {
    position: absolute;
    top: 20px;
    right: 20px;
}

.size-title {
    padding-top: 20px;

    font-weight: 400;
    font-size: 32px;

    color: #092F63;
}

.size-btns {
    padding-top: 73px;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: auto 88px auto;
    grid-template-columns: auto auto;
    gap: 45px 88px;
}

.size-btn {
    width: 176px;
    height: 54px;

    background: #FBFBFB;
    border: 1.5px solid #092F63;
    border-radius: 20px;

    font-weight: 400;
    font-size: 20px;

    color: #092F63;
}


.size-btn.is-active {
    background: #092F63;
    color: #F5F5F5;
}

.size-btn-select {
    padding-top: 83px;
}

.size-btn-select button {
    width: 153px;
    height: 51px;

    background: #092F63;
    border: 2px solid #092F63;
    border-radius: 10px;
}

.size-btn-select button {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.another-size-btn span:last-child {
    display: none;
}