.workspace {
    padding-top: 54px;

    flex-direction: column;
    justify-content: center;
}

.workspace-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workspace-buttons-mini  {
    display: flex;
    gap: 54px;
    justify-content: center;
}

.workspace-buttons span {
    font-weight: 300;
    font-size: 16px;

    color: rgba(9, 47, 99, 0.4);
}

.workspace-buttons-mini button{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    align-items: center;
    gap: 10px;
}

.workspace-buttons-mini button:hover path{
    stroke: #092F63;
}

.workspace-buttons-mini button:hover span{
    color: #092F63;
}

.workspace-button-add {
    padding-top: 148px;
    padding-bottom: 180px;

    justify-content: center;
}

.workspace-button-add button {
    padding-top: 104px;

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.workspace-button-add button {
    width: 229px;
    height: 293px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-weight: 300;
    font-size: 24px;

    color: #092F63;
}

.workspace-button-big {
    display: none;
}

.workspace-button-big.is-active{
    display: flex;
    justify-content: center;

    margin-top: 148px;
    padding: 30px 30px;

    width: 229px;
    height: 293px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.workspace-button-big span{
    font-weight: 300;
    font-size: 24px;

    color: #092F63;
}

/*MOBILE VERSION*/

.workspace-button-mobile {
    padding-top: 20vh;

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    justify-content: center;
}

.workspace-button-mobile {

    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.workspace-button-mobile button{
    width: 248px;
    height: 76px;

    background: #092F63;
    border: 1px solid #092F63;
    border-radius: 20px;
}



