.l-main-container {
    max-width: 1250px;

    margin-right: auto;
    margin-left: auto;
}

.workspace {
    padding-top: 54px;

    flex-direction: column;
    justify-content: center;
}

.workspace:not(.is-active) {
    display: none !important;
}

.work-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-btns-mini  {
    display: flex;
    gap: 54px;
    justify-content: center;
}

.work-btns span {
    font-weight: 300;
    font-size: 16px;

    color: rgba(9, 47, 99, 0.4);
}

.work-btns-mini button.is-visible {
    display: flex;
}

.work-btns-mini button{
    display: none;

    align-items: center;
    gap: 10px;
}

.work-btns-mini button.is-active path{
    stroke: #092F63;
}

.work-btns-mini button.is-active span{
    color: #092F63;
}

.workspace-button-add {
    padding-top: 148px;
    padding-bottom: 180px;

    justify-content: center;
}

.workspace-button-add button {
    padding-top: 104px;

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.workspace-button-add button {
    width: 229px;
    height: 293px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-weight: 300;
    font-size: 24px;

    color: #092F63;
}

.works-btn-big {
    position: relative;

    display: none;

    justify-content: center;

    margin-top: 148px;
    padding: 30px 30px;

    width: 230px;
    height: 293px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.works-btn-big.is-active{
    display: flex !important;
}

.works-btn-big span{
    padding-top: 9px;

    align-self: center;

    font-weight: 300;
    font-size: 24px;

    color: #092F63;
}

.works-btn-big a:before,
.works-btn-big a:after {
    position: absolute;
    top: 94px;
    right: 110px;

    content: ' ';
    height: 30px;
    width: 2px;
    background-color: #092F63;
}
.works-btn-big a:before {
    transform: rotate(90deg);
}
.works-btn-big a:after {
    transform: rotate(0deg);
}

.work-photos {
    display: none;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    padding-top: 29.5px;
}

.work-photos.is-active {
    display: flex;
}

.photos-container.vertical {
    position: relative;

    width: 223px;
    height: 293px;

    margin: 13.5px 13.5px;
}

.photos-container.horizontal {
    position: relative;

    width: 223px;
    height: 293px;

    margin: 13.5px 13.5px;
}

.work-photos .photo {
    position: relative;

    width: 100%;
    height: 100%;

    border-radius: 20px;

    overflow: hidden;
}

.work-photos .photo .photo-footer{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 43px;

    background: #D9D9D9;
}

/*MOBILE VERSION*/

.work-btn-mobile {
    padding-top: 20vh;

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    justify-content: center;
}

.work-btn-mobile {

    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.work-btn-mobile button{
    width: 248px;
    height: 76px;

    background: #092F63;
    border: 1px solid #092F63;
    border-radius: 20px;
}

.work-btn-mobile.is-inactive {
    display: none;
}



